@using OnlineCourseManagementSystem.Web.ViewModels.Assignments
@model IEnumerable<AssignmentViewModel>
    <h1>Assignments</h1>

    <table class=" table-stripped table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>StartDate</th>
                <th>DeadLine</th>
                <th>Course Name</th>
                <th>Points</th>
                <th>Options</th>
            </tr>
        </thead>
        <tdbody class="table-light">
            @foreach (var assignment in this.Model)
             {
                <tr>
                    <td>@assignment.StartDate</td>
                    <td>@assignment.EndDate</td>
                    <td>@assignment.CourseName</td>
                    <td>@assignment.PossiblePoints</td>
                    <td>
                        <p>
                            <a asp-controller="Assignments" asp-action="GetInfo" asp-route-id="@assignment.AssignmentId">
                                View
                            </a>
                        </p>

                    </td>
                </tr>
             }
        </tdbody>
    </table>

