@using OnlineCourseManagementSystem.Web.ViewModels.Assignments
@model AllLectureAssignmetViewModel
@{
    this.ViewData["Title"] = "Created Assignments";
}

<h1 class="title">All Created Assignments</h1>

@if (this.TempData.ContainsKey("CreatedAssignment"))
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @this.TempData["CreatedAssignment"]
    </div>
}

@foreach (var assignment in this.Model.CreatedAssignments)
{

    <div class="lecture-assignment">
        <a asp-controller="Assignments" asp-action="AllUsersForAssignment" asp-route-id="@assignment.AssignmentId">
            <div class="row" style="color: black;">
                <div class="col-md-2"></div>
                <div class="col-md-3 text-black-50">
                    @assignment.CourseName
                </div>
                <div class="col-md-3">
                    StartDate: @assignment.StartDate
                </div>
                <div class="col-md-3">
                    EndDate: @assignment.EndDate
                </div>
                <div class="col-md-3">
                    @assignment.PossiblePoints points
                </div>
            </div>
        </a>
        <div class="col-md-3 modify-options">
            <div class="flex-item">
                <a class="btn" style="background:#00ffff;color:#000000; padding:0.75rem;" asp-controller="Assignments" asp-action="Edit" asp-route-id="@assignment.AssignmentId">Edit</a>
            </div>
            <div class="flex-item">
                <form asp-controller="Assignments" asp-action="Delete" asp-route-id="@assignment.AssignmentId" method="post">
                    <button class="form-control btn-delete">Delete</button>
                </form>
            </div>
        </div>
    </div>
}

<details>
    <summary>
        <h3>All Checked Assignments</h3>
    </summary>
    <p>
        @foreach (var assignment in this.Model.CheckedAssignmets)
        {

            <div class="lecture-assignment">
                <a asp-controller="Assignments" asp-action="AllCheckedUsersForAssignment" asp-route-id="@assignment.AssignmentId">
                    <div class="row" style="color: black">
                        <div class="col-md-2"></div>
                        <div class="col-md-3 text-black-50">
                            @assignment.CourseName
                        </div>
                        <div class="col-md-3">
                            StartDate: @assignment.StartDate
                        </div>
                        <div class="col-md-3">
                            EndDate: @assignment.EndDate
                        </div>
                        <div class="col-md-3">
                            @assignment.PossiblePoints points
                        </div>
                    </div>
                </a>
            </div>
        }

    </p>
</details>

<div id="btn-scrollTop" onclick="getToTop()">
    <img  class="img-scrollUp" src="~/icons/circle_up.png" alt="Alternate Text" />
</div>

