@using OnlineCourseManagementSystem.Web.ViewModels.Assignments
@using OnlineCourseManagementSystem.Web.ViewModels.Files
@model AssignmentPageViewModel
@{
    this.ViewData["Title"] = "Assignment Info";
    int i = 0;
    int j = 0;
}


<h1 class="title" style="color:darkorange; background: #ffffff">@Model.CourseName</h1>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    @if (this.Model.TurnedOn == null)
    {
        <form asp-controller="Assignments" asp-action="TurnIn" asp-route-id="@this.Model.AssignmentId" enctype="multipart/form-data" method="post">
            <div class="col-md-4">
                <button class="btn rounded-pill" style="color:darkorange;background:#ffffff">Turn In</button>
            </div>
            <div class="pt-2">
                <label asp-for="InputModel.Files"></label>
                <input asp-for="InputModel.Files" id="addFiles" type="file" multiple class="form-control" />
            </div>

        </form>
    }
    else
    {
        <form asp-controller="Assignments" asp-action="UndoTurnIn" asp-route-id="@this.Model.AssignmentId" method="post">
            <div>
                <button class="btn rounded-pill" style="color:darkorange;background:#ffffff">Undo turn in</button>
            </div>
        </form>
    }

</div>

<h3 class="text-white">Instructions:</h3>
<div class="row" style="margin-bottom: 10px">
    <div class="col-md-4 container rounded" style="background:#ffffff; color:darkorange">
        @this.Model.Instructions
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 text-white">Points: @this.Model.PossiblePoints</div>
    @if (this.Model.Feedback == "")
    {
        <div class="col-md-4 text-white" style="left: 67%;">
            Feedback: @this.Model.Feedback
        </div>
    }
    else
    {
        <div class="col-md-4 text-white" style="left: 67%;">
            Feedback: none
        </div>
    }
</div>

<p class="h3 text-white">Files</p>

<p class="h4 text-white" style="margin-top: 50px">Resorces</p>
@if (this.Model.ResourceFiles != null)
{
    @foreach (var file in this.Model.ResourceFiles)
    {
        if (file.RemoteUrl.EndsWith(".jpg"))
        {
            <div class="file">
                <a class="file-block" href="https://view.officeapps.live.com/op/embed.aspx?src=@file.RemoteUrl" download>
                    WorkFile@{j++;}
                </a>
            </div>
        }
        else
        {
            <div class="file">
                <a href="https://view.officeapps.live.com/op/embed.aspx?src=@file.RemoteUrl" download>
                    WorkFile@{j++;}
                </a>
            
            </div>
        }
    }
}
else
{
    <p class="text-white">No files</p>
}

<pre class="tab"></pre>
<pre class="tab"></pre>
<h4 class="text-white">My work</h4>

@if (this.Model.WorkFiles != null)
{
    @foreach (var file in this.Model.WorkFiles)
    {
        <form asp-controller="Files" asp-action="DeleteWorkFileFromAssignment" asp-route-id="@file.FileId" method="post">
            @if (file.RemoteUrl.EndsWith(".jpg"))
            {
                <div class="file">
                    <a class="file-block" href="https://view.officeapps.live.com/op/embed.aspx?src=@file.RemoteUrl" download>
                        WorkFiles@{i++;}
                    </a>
                    <button class="form-control">Delete</button>
                </div>
            }
            else
            {
                <div class="file">
                    <a href="https://view.officeapps.live.com/op/embed.aspx?src=@file.RemoteUrl" download>
                        WorkFiles@{i++;}
                    </a>

                    <button class="form-control " style="margin-left: 30rem; width: 80px">Delete</button>

                </div>
            }
        </form>
    }
}
else
{
    <p class="text-white">No files</p>
}





