@model IEnumerable<OnlineCourseManagementSystem.Web.ViewModels.ExecutedTests.AllExecutedTestsBySubmissionIdViewModel>
@{
    this.ViewData["Title"] = "Submission Details";
    int executedTestIndex = 1;
}

<link rel="stylesheet" href="~/codemirror-5.65.2/lib/codemirror.css" />
<link href="~/css/themes/ambiance.css" rel="stylesheet" />

<div class="ml-2">
    <h1>Submission №@this.Model.FirstOrDefault().SubmissionId from @this.Model.FirstOrDefault().SubmissionUserUserName to problem <a asp-controller="Problems" asp-action="AllByContestId" asp-route-contestId="@this.Model.FirstOrDefault().SubmissionContestId" asp-route-problemId="@this.Model.FirstOrDefault().SubmissionProblemId" style="color: #18BB9B; font-size: 35px; text-decoration: underline;">@this.Model.FirstOrDefault().SubmissionProblemName</a></h1>

    <div class="m-2">
        <a class="btn btn-secondary" href="/ExecutedTests/AllBySubmissionId?submissionId=@this.Model.FirstOrDefault().SubmissionId#yourCode">View code</a>
    </div>

    @foreach (var executedTest in this.Model)
    {
        if (executedTest.HasPassed)
        {
            <h2 style="color: #18BB9B;">Test №@executedTestIndex (Correct answer)</h2>


        }
        else
        {
            <h2 class="text-danger">Test №@executedTestIndex (Wrong answer)</h2>

            <div class="row mt-2">
                <h4>Input:</h4>

                <div class="row mt-1">
                    <textarea class="code">@executedTest.TestInput</textarea>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4 class="mb-1">Expected output:</h4>
                        <textarea class="code">@executedTest.ExpectedOutput</textarea>
                    </div>
                    <div class="col-md-6">
                        <h4 class="mb-1">Your output:</h4>
                        <textarea class="code">@executedTest.UserOutput</textarea>
                    </div>
                </div>
            </div>
        }

        executedTestIndex++;
    }

    <div class="row mt-2">
        <h4>Your code:</h4>

        <div id="yourCode" class="row mt-1">
            <textarea class="code">@this.Model.FirstOrDefault().SubmissionCode</textarea>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/codemirror-5.65.2/lib/codemirror.js"></script>
    <script>
        let codeTextarea = Array.from(document.querySelectorAll(".code"));
        for (var i = 0; i < codeTextarea.length; i++) {
            var editor = CodeMirror.fromTextArea(codeTextarea[i],
                {
                    lineNumbers: true,
                    theme: 'ambiance',
                });
        }
    </script>
}
