@model OnlineCourseManagementSystem.Web.ViewModels.Dashboard.AdminDashboardViewModel
@{
    this.ViewData["Title"] = "Dashboard";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @this.TempData["Message"]
    </div>
}

<body class="bg-light">
    <div class="row mb-2">
        <div class="col-md-4">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>@this.Model.TotalCourses</h3>
                    <p>COURSES</p>
                </div>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>@this.Model.TotalStudents</h3>
                    <p>STUDENTS</p>
                </div>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                        <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@this.Model.TotalTeachers</h3>
                    <p>LECTURERS</p>
                </div>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z" />
                        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z" />
                        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2 d-flex justify-content-center">
        <div class="col-md-5 shadow-lg mx-3 mb-3 mb-md-0">
            <h3>Lecturers List</h3>
            @foreach (var lecturer in this.Model.Teachers)
            {
                <div class="d-flex align-items-center my-2">
                    @if (lecturer.ProfileImageUrl == null)
                    {
                        <span class="rounded-circle d-flex justify-content-center align-items-center bg-secondary" style="width:50px; height:50px">
                            <span class="text-white bold">@(lecturer.FirstName.Substring(0,1).ToUpper()+lecturer.LastName.Substring(0,1).ToUpper())</span>
                        </span>
                    }
                    else
                    {
                        <span>
                            <img class="rounded-circle" width="50" height="50" src="@lecturer.ProfileImageUrl" alt="User ProfileImage" />
                        </span>
                    }
                    <strong class="flex-grow-1 mx-1">@(lecturer.FirstName + ' ' + lecturer.LastName)</strong>
                    <div class="d-flex flex-column flex-md-row">
                        <a cite asp-controller="Admins" asp-action="ManageUserAccountById" asp-route-id="@lecturer.Id" class="btn btn-dark rounded-circle mx-1 my-1 my-md-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                            </svg>
                        </a>
                        <form class="my-1 my-md-0" asp-controller="Users" asp-action="Delete" asp-route-id="@lecturer.Id" method="post">
                            <button class="btn btn-danger rounded-circle mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-5 shadow-lg">
            <h3>Students List</h3>
            @foreach (var student in this.Model.Students)
            {
                <div class="d-flex align-items-center my-2">
                    @if (student.ProfileImageUrl == null)
                    {
                        <span class="rounded-circle d-flex justify-content-center align-items-center bg-secondary" style="width:50px; height:50px">
                            <span class="text-white bold">@(student.FirstName.Substring(0,1).ToUpper()+student.LastName.Substring(0,1).ToUpper())</span>
                        </span>
                    }
                    else
                    {
                        <span>
                            <img class="rounded-circle" width="50" height="50" src="@student.ProfileImageUrl" alt="User ProfileImage" />
                        </span>
                    }

                    <strong class="flex-grow-1 mx-1">@(student.FirstName + ' ' + student.LastName)</strong>

                    <div class="d-flex flex-column flex-md-row">
                        <a asp-controller="Admins" asp-action="ManageUserAccountById" asp-route-id="@student.Id" class="btn btn-dark rounded-circle mx-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                            </svg>
                        </a>
                        <form asp-controller="Users" asp-action="Delete" asp-route-id="@student.Id" method="post">
                            <button class="btn btn-danger rounded-circle mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            }
            <div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a asp-controller="Users" asp-action="AllLecturers" class="btn btn-info w-100 mr-2 mb-2">VIEW ALL LECTURERS</a>

        <a asp-controller="Users" asp-action="AllStudents" class="btn btn-danger w-100 mb-2">VIEW ALL STUDENTS</a>
    </div>
    @*<div class="row mb-2">
            <div class="col-md-4">
                <table class="bg-white shadow-lg p-3 mb-5 rounded w-100 my-3">
                    <tbody>
                        @foreach (var lecturer in this.Model.Teachers)
                        {
                            <tr>
                                <td>
                                    @if (lecturer.ProfileImageUrl == null)
                                    {
                                        <span class="rounded-circle d-flex justify-content-center align-items-center bg-secondary" style="width:30px; height:30px">
                                            <span class="text-white bold">@(lecturer.FirstName.Substring(0,1).ToUpper()+lecturer.LastName.Substring(0,1).ToUpper())</span>
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            <img class="rounded-circle" style="border-radius:50%;" width="30" height="30" src="@lecturer.ProfileImageUrl" alt="User ProfileImage" />
                                        </span>
                                    }
                                </td>
                                <td>
                                    <strong>@(lecturer.FirstName + ' ' + lecturer.LastName)</strong>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button style="border-radius:50%;" class="btn btn-dark">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button style="border-radius:50%;" class="btn btn-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                                                    <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div>
                    <button class="btn btn-info w-100">VIEW ALL LECTURERS</button>
                </div>
            </div>
            <div class="col-md-8">
                <h3>Students List</h3>
                <table class="bg-white shadow-lg p-3 mb-5 rounded w-100">
                    <tbody>
                        @foreach (var student in this.Model.Students)
                        {
                            <tr>
                                <td>
                                    @if (student.ProfileImageUrl == null)
                                    {
                                        <span class="rounded-circle d-flex justify-content-center align-items-center bg-secondary" style="width:30px; height:30px">
                                            <span class="text-white bold">@(student.FirstName.Substring(0,1).ToUpper()+student.LastName.Substring(0,1).ToUpper())</span>
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            <img class="rounded-circle" style="border-radius:50%;" width="30" height="30" src="@student.ProfileImageUrl" alt="User ProfileImage" />
                                        </span>
                                    }
                                </td>
                                <td>
                                    <strong>@(student.FirstName + ' ' + student.LastName)</strong>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button style="border-radius:50%;" class="btn btn-dark">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="col-md-3">
                                            <button style="border-radius:50%;" class="btn btn-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
                                                    <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div>
                    <button class="btn btn-danger w-100">VIEW ALL STUDENTS</button>
                </div>
            </div>
        </div>*@

    <div>
        <a asp-controller="Admins" asp-action="AdminActions" class="btn btn-success w-100 text-center">
            <p class="text-white">GO TO ADMIN ACTIONS</p>
        </a>
    </div>
</body>