@model OnlineCourseManagementSystem.Web.ViewModels.Questions.QuestionDetailsViewModel
@{
    this.ViewData["Title"] = "Question Details";
    char[] symbols = new char[4]
    {
        'A', 'B', 'C', 'D'
                           };
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @this.TempData["Message"]
    </div>
}

@if (this.TempData.ContainsKey("Alert"))
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @this.TempData["Alert"]
    </div>
}

<style>
    table {
        border-collapse: separate;
        border-spacing: 0 15px;
    }

    th {
        background-color: #4287f5;
        color: white;
    }

    th,
    td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
    }

    h2 {
        color: #4287f5;
    }
</style>

<div class="row">
    <div class="alert alert-dark col-md-2" role="alert">
        @this.ViewData["Title"]
    </div>
    <div class="alert alert-danger col-md-10" role="alert">
    </div>
</div>
<ul class="list-group col-md-12">
    <li class="list-group-item">
        <div class="row">
            <table class="table-bordered table-hover table-striped col-md-12">
                <tbody>
                    <tr class="mt-2">
                        <td><strong>Question Name</strong></td>
                        <td>@Html.Raw(this.Model.Text)</td>
                    </tr>
                    <tr class="mt-2">
                        <td><strong>Exam</strong></td>
                        <td>@this.Model.ExamName</td>
                    </tr>
                    @for (int i = 0; i < this.Model.Choices.Count(); i++)
                    {
                        <tr class="mt-2">
                            <td><strong>@("Option " + symbols[i])</strong></td>
                            <td>@this.Model.Choices.ToList()[i].Text</td>
                        </tr>
                    }
                    <tr class="mt-2">
                        <td><strong>Correct Answer</strong></td>
                        <td>@this.Model.Choices.FirstOrDefault(c => c.IsCorrect).Text</td>
                    </tr>
                    <tr class="mt-2">
                        <td>
                            <a asp-controller="Questions" asp-action="AllByExam" asp-route-examId="@this.Model.ExamId" class="btn btn-dark">
                                <i class="fas fa-arrow-alt-circle-left"></i>
                                Back To Question List
                            </a>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>
