@using OnlineCourseManagementSystem.Common
@using OnlineCourseManagementSystem.Web.ViewModels.Home
@using Microsoft.AspNetCore.Identity
@using OnlineCourseManagementSystem.Data.Models
@inject UserManager<ApplicationUser> userManager
@model HomeViewModel
@{
    this.ViewData["Title"] = "Home Page";
    ApplicationUser user = await this.userManager.GetUserAsync(this.User);
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert-success">
        @this.TempData["Message"]
    </div>
}

@if (this.TempData.ContainsKey("AlertMessage"))
{
    <div class="alert-danger">
        @this.TempData["AlertMessage"]
    </div>
}

<div class="index-container">
    <div class="row">
        @if (this.User.Identity.IsAuthenticated)
        {
            <a class="link link-container col-md-4" asp-controller="Albums" asp-action="All">
                <img src="~/icons/folder.png" alt="Alternate Text" class="img-link" />
                Gallery
            </a>


            if (this.User.IsInRole(GlobalConstants.StudentRoleName))
            {
                <a class="link link-container col-md-4" asp-controller="Assignments" asp-action="All">
                    <img src="~/icons/notepad.png" class="img-link">
                    Assignments<span class="badge bg-secondary">@this.Model.AssignmentsCount</span>
                </a>

            }

            if (this.User.IsInRole(GlobalConstants.StudentRoleName))
            {
                <a class="link link-container col-md-4" asp-controller="Orders" asp-action="AllByUserId">
                    <img src="~/icons/basket.png" class="img-link" />
                    Courses In Cart<span class="badge bg-secondary">@this.Model.CoursesInCartCount</span>
                </a>
            }
        }


        <a class="link link-container col-md-4" asp-controller="Posts" asp-action="All" asp-route-id="1">
            <img src="~/icons/speech_3.png" class="img-link" />
            Forum
        </a>


        <a asp-controller="Events" asp-action="All" class="link link-container col-md-4">
            <img src="~/icons/events.jpg" class="img-link" alt="Alternate Text" />
            Events
        </a>


        @if (this.User.IsInRole(GlobalConstants.LecturerRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a asp-controller="Events" asp-action="AllCreated" class="link link-container col-md-4">
                <img src="~/icons/calendar_add.png" class="img-link"/>
                All Created Events
            </a>
        }

        @if (this.User.Identity.IsAuthenticated)
        {
            <a asp-controller="Chats" asp-action="IndexChats" class="link link-container col-md-4">
                <img src="~/icons/chat_icon.png" class="img-link" />
                Chats
            </a>
        }
        
    </div>
</div>

@*<div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@