@using OnlineCourseManagementSystem.Common
@using OnlineCourseManagementSystem.Web.ViewModels.Home
@model HomeViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert-success">
        @this.TempData["Message"]
    </div>
}

@if (this.TempData.ContainsKey("AlertMessage"))
{
    <div class="alert-danger">
        @this.TempData["AlertMessage"]
    </div>
}

@if (this.User.Identity.IsAuthenticated)
{
    <a class=" btn btn-info rounded h3" asp-controller="Albums" asp-action="All">
        Gallery
    </a> if (this.User.IsInRole(GlobalConstants.StudentRoleName))
    {
        <a class=" btn btn-info rounded h3" asp-controller="Assignments" asp-action="All">
            Assignments<span class="badge bg-secondary">@this.Model.AssignmentsCount</span>
        </a>
    }

    if (this.User.IsInRole(GlobalConstants.StudentRoleName))
    {
        <a class=" btn btn-info rounded h3" asp-controller="Orders" asp-action="AllByUserId">
            Courses In Cart<span class="badge bg-secondary">@this.Model.CoursesInCartCount</span>
        </a>
    }
}


<a class="btn btn-info" asp-controller="Posts" asp-action="All" asp-route-id="1">
    Forum
</a>


<a asp-controller="Events" asp-action="All" class="btn btn-info">
    Events
</a>

@if (this.User.IsInRole(GlobalConstants.LecturerRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <a asp-controller="Events" asp-action="AllCreated" class="btn btn-info">
        All Created Events
    </a>
}


<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
