@model OnlineCourseManagementSystem.Web.ViewModels.Courses.AllCoursesByUserListViewModel
@{
    this.ViewData["Title"] = "All Courses for this User";
}

<h3>@this.ViewData["Title"]</h3>

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert-success">
        @this.TempData["Message"]
    </div>
}


@foreach (var course in this.Model.Courses)
{
    <div class="col-md-6">
        <div class="component">
            <div class="card">
                <div class="card-header">
                    <img class="card-img" src="@course.CourseFileRemoteUrl" alt="course">
                </div>
                <div class="card-body">
                    <span class="badge badge-warning">@course.CourseSubjectName</span>
                    <h4 class="card-title mt-2">@course.CourseName</h4>
                    <p class="card-text">@(string.Join("", course.CourseDescription.Take(100).ToList()) + "...")</p>
                </div>
                <div class="card-body">
                    <span class="badge badge-warning">Price: @course.CoursePrice</span>
                </div>
                <div class="card-body">
                    <span class="badge badge-warning">StartDate: @course.CourseStartDate.ToString("dddd, dd MMMM yyyy")</span>
                </div>
                <div class="card-body">
                    <span class="badge badge-warning">EndDate: @course.CourseEndDate.ToString("dddd, dd MMMM yyyy")</span>
                </div>
                <div class="card-footer">
                    <a asp-controller="Courses" asp-action="ById" asp-route-id="@course.CourseId" class="btn btn-outline-primary">Read More about the Course</a>
                </div>
            </div>
        </div>
    </div>
}