@using OnlineCourseManagementSystem.Web.ViewModels.Courses
@using OnlineCourseManagementSystem.Services.Data.MachineLearning  
@model AllRecommendedCoursesByAIViewModel<UserInCourse, UserInCourseScore>
@{ 
    this.ViewData["Title"] = "Recommended Courses";
}

<style>
    h3:hover {
        color: #42A5F5;
    }
</style>

<div class="bg-white">
    <h1>@this.ViewData["Title"]</h1>
    <div style="border: 5px solid blue;">
        <div class="row p-5">
            <div class="col-md-3">
                <a class="btn btn-success" asp-action="AllRecommendedByCurrentUser" asp-route-recommendationType="Highly">Highly Recommended</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" asp-action="AllRecommendedByCurrentUser" asp-route-recommendationType="Strongly">Strongly Recommended</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-warning w-100" asp-action="AllRecommendedByCurrentUser" asp-route-recommendationType="Recommended">Recommended</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-danger" asp-action="AllRecommendedByCurrentUser" asp-route-recommendationType="NotRecommended">Not Recommended</a>
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        @for (int i = 0; i < this.Model.OutputData.ToList().Count(); i++)
        {
            <div class="col-md-4">
                <a asp-action="ById" asp-route-id="@this.Model.InputData.ToList()[i].Id">
                    <div class="h-100" style="border: 2px solid lightgray; border-left: none; border-right: none;">
                        <h3>@this.Model.InputData.ToList()[i].CourseName - @this.Model.InputData.ToList()[i].StartDate</h3>
                        <div class="row">
                            <div class="col-md-2">
                                <p class="text-black-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                                    </svg>
                                    @this.Model.InputData.ToList()[i].ParticipantsCount
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-black-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z" />
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z" />
                                    </svg>
                                    @this.Model.InputData.ToList()[i].CoursePrice
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

    <partial name="_RecommendedCoursesPagingPartial" model="@this.Model" />
</div>