@model OnlineCourseManagementSystem.Web.ViewModels.Courses.UpcomingAndActiveCoursesViewModel
@{
    this.ViewData["Title"] = "UPCOMING COURSES AND MODULES";
}

<head>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<style>
    .row-margin-05 {
        margin-top: 0.5em;
    }

    .row-margin-10 {
        margin-top: 1.0em;
    }

    .row-margin-20 {
        margin-top: 2.0em;
    }

    .row-margin-30 {
        margin-top: 3.0em;
    }

    .swiper-container {
        width: 600px;
        height: 300px;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

</style>

<h2 style="color: #234465; position: relative; left: 70px;">@this.ViewData["Title"]</h2>

<div class="row swiper-container">
    <div class="swiper-wrapper">
        @foreach (var upcomingCourse in this.Model.UpcomingCourses)
        {
            <div class="swiper-slide">
                <div class="card" style="width: 15rem;">
                    <img src="@upcomingCourse.FileRemoteUrl" height="142" class="card-img-top" alt="courseImage">
                    <div class="card-body" style="background-color: #234465;">
                        <div class="row">
                            <h5 class="card-title col-md-12" style="color: white;">@upcomingCourse.Name - @upcomingCourse.StartDate.ToString("MMMM yyyy")</h5>
                        </div>
                        <div class="row row-margin-10">
                            <div class="col-md-8">
                                <p class="card-text" style="color: white; font-size: 12px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z" />
                                    </svg>
                                    @upcomingCourse.StartDate.ToString("dd MMMM yyyy")
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="card-text" style="color: white; font-size: 12px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                    </svg>
                                    @upcomingCourse.RecommendedDuration weeks
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<div class="row row-margin-30">
    <div class="col-md-4">
        <form method="post">
            <div class="row">
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" style="border-left: none; border-right: none; border-top: none;" placeholder="Search by course name or tag" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </div>
            </div>
        </form>

        <p class="row-margin-10" style="font-size: 20px; color: #234465;">Tags</p>
        @foreach (var tag in this.Model.Tags)
        {
            <a asp-action="AllUpcomingAndActive" asp-route-name="@tag.Name" class="badge rounded-pill row-margin-05" style="background-color: #ffa000; color: white; font-size: 20px;">@tag.Name</a>
        }
    </div>
    <div class="col-md-8">
        <ul class="list-group">
            @foreach (var activeCourse in this.Model.ListOfActiveCourses.ActiveCourses)
            {
                <li class="list-group-item" style="background-color: #e6e6e6;">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card text-center" style="width: 18rem;">
                                <img src="@activeCourse.FileRemoteUrl" height="142" class="card-img-top" alt="courseImage">
                                <div class="card-body">
                                    <a href="#" style="font-size: 20px; color: #ffa000;">VIEW COURSE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7" style="color: #234465;">
                            <h3>@activeCourse.Name</h3>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z" />
                                </svg>
                                @activeCourse.StartDate.ToString("dd MMMM yyyy")
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                </svg>
                                @activeCourse.RecommendedDuration weeks
                            </p>
                            <p>@(string.Join("", activeCourse.Description.Take(300).ToList()) + "...")</p>
                        </div>
                    </div>
                </li>
            }

            <partial name="_PagingPartial" model="@Model.ListOfActiveCourses" />
        </ul>
    </div>
</div>

<script type="text/javascript">
    const swiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        slidesPerView: 3,
        spaceBetween: 10,

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
