@model OnlineCourseManagementSystem.Web.ViewModels.Courses.CourseByIdViewModel
@using OnlineCourseManagementSystem.Common
@{
    this.ViewData["Title"] = "Details for the Course";
    int lecturerIndex = 1;
    int lectureIndex = 1;
    int skillsIndex = 1;
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissible">
        @this.TempData["Message"]
    </div>
}

@if (this.TempData.ContainsKey("Alert"))
{
    <div class="alert alert-danger alert-dismissible">
        @this.TempData["Alert"]
    </div>
}

<style>
    .row-margin-05 {
        margin-top: 0.5em;
    }

    .row-margin-10 {
        margin-top: 1.0em;
    }

    .row-margin-20 {
        margin-top: 2.0em;
    }

    .row-margin-30 {
        margin-top: 3.0em;
    }

    .accordion-item .accordion-header button:hover {
        background-color: orange;
    }

    .bg-yellow {
        background-color: #FFA000 !important;
    }

    .bg-red {
        background-color: lightgray !important;
    }
</style>

<body class="bg-light">

    <div class="row text-center text-white p-3 mb-5 rounded bg-info" style="background-color: #234465; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        <h1 class="text-white">
            <img src="@this.Model.FileRemoteUrl" alt="courseImage" height="80" width="80" />
            @this.Model.Name
        </h1>
        <p class="text-white" style="text-align: left; color: white !important;">
            @Html.Raw(string.Join("", this.Model.Description.Take(200).ToList()))
        </p>
        <div class="text-center">
            <button class="btn btn-info" style="border-top: none; background-color: #17A2B8; border-left: none; border-bottom: none; border-right: none;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <p style="color: #ffa000;">
                    LOOK MORE
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                    </svg>
                </p>
            </button>
        </div>
        <div class="collapse" id="collapseExample">
            <div>
                <p class="text-white" style="text-align: left; color: #515365;">@Html.Raw(string.Join("", this.Model.Description.Skip(200).ToList()))</p>
            </div>
        </div>
    </div>

    @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
    {
        <div class="text-center">
            <a asp-controller="Exams" asp-action="AddToCertificate" asp-route-courseId="@this.Model.Id" class="btn btn-success" style="font-size: 20px;">ADD EXAM TO CERTIFICATE</a>
        </div>
    }
    else if (this.User.IsInRole(GlobalConstants.StudentRoleName))
    {
        <div class="text-center">
            <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-success" style="font-size: 20px;">START CERTIFICATE</button>
        </div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Start Certificate</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        You are going to start a certification exam. Once you click the 'Confirm' button, the exam will start.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a asp-controller="Exams" asp-action="StartCertificate" asp-route-id="@this.Model.Id" class="btn btn-primary">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row row-margin-20">
        <div class="col-md-8">
            <div class="p-3 mb-5 bg-white rounded" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                <h3>What you'll learn</h3>
                <ul class="list-group">
                    @foreach (var skill in this.Model.Skills)
                    {
                        if (skillsIndex % 2 == 0)
                        {
                            <li class="list-group-item" style="border: 2px solid lightgray; border-left: none; border-right: none; background-color: white;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg text-success" viewBox="0 0 16 16">
                                    <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z" />
                                </svg>
                                <strong>@skill.Text</strong>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item" style="border: 2px solid lightgray; border-left: none; border-right: none; background-color: white;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg text-success" viewBox="0 0 16 16">
                                    <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z" />
                                </svg>
                                <strong>@skill.Text</strong>
                            </li>
                        }

                        skillsIndex++;
                    }
                </ul>
            </div>
            <div class="row-margin-20">
                <p class="text-black-50">Curriculum</p>

                <div class="accordion p-3 mb-5 bg-white rounded row-margin-10" id="accordionExample" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    @foreach (var lecture in this.Model.Lectures)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading-@lectureIndex">
                                <button class="accordion-button bg-red text-dark acc-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@lectureIndex" aria-expanded="false" aria-controls="flush-collapse-@lectureIndex">
                                    @(lectureIndex + ". " + lecture.Title)
                                </button>
                            </h2>
                            <div id="flush-collapse-@lectureIndex" class="accordion-collapse collapse" aria-labelledby="flush-heading-@lectureIndex" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p style="font-size: 16px; color: orange;">Description</p>
                                            @if (lecture.Description == null)
                                            {
                                                <p>There is still no description for this lecture</p>
                                            }
                                            else
                                            {
                                                <p>@Html.Raw(lecture.Description)</p>
                                            }
                                        </div>
                                        <div class="col-md-6">
                                            <p style="font-size: 16px; color: #ffa000;">Resources</p>
                                            @if (lecture.Files.Count() == 0 && lecture.Exams.Count() == 0)
                                            {
                                                <p>There are still no resources for this lecture</p>
                                            }
                                            else
                                            {
                                                @foreach (var file in lecture.Files.Where(f => f.Extension == ".mp4"))
                                                {
                                                    <a asp-controller="Files" asp-action="VideoById" asp-route-id="@file.Id" asp-route-courseId="@file.LectureCourseId">
                                                        <div class="text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                                                            </svg>
                                                            Video - @file.CreatedOn.ToString("dd MMMM yyyy") - @(file.UserFirstName + ' ' + file.UserLastName)
                                                            @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                                                            {
                                                                <form method="post" asp-controller="Files" asp-action="Delete" asp-route-id="@file.Id">
                                                                    <input type="submit" class="btn btn-danger" value="Delete" />
                                                                </form>
                                                            }
                                                        </div>
                                                    </a>
                                                }

                                                @foreach (var file in lecture.Files.Where(f => f.Extension == ".pptx"))
                                                {
                                                    <a asp-controller="Files" asp-action="ById" asp-route-id="@file.Id" asp-route-lectureId="@lecture.Id">
                                                        <div class="text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-ppt" viewBox="0 0 16 16">
                                                                <path d="M7 5.5a1 1 0 0 0-1 1V13a.5.5 0 0 0 1 0v-2h1.188a2.75 2.75 0 0 0 0-5.5H7zM8.188 10H7V6.5h1.188a1.75 1.75 0 1 1 0 3.5z" />
                                                                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
                                                            </svg>
                                                            Presentation - @file.CreatedOn.ToString("dd MMMM yyyy") - @(file.UserFirstName + ' ' + file.UserLastName)
                                                            @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                                                            {
                                                                <form method="post" asp-controller="Files" asp-action="Delete" asp-route-id="@file.Id">
                                                                    <input type="submit" class="btn btn-danger" value="Delete" />
                                                                </form>
                                                            }
                                                        </div>
                                                    </a>
                                                }

                                                @foreach (var file in lecture.Files.Where(f => f.Extension == ".docx"))
                                                {
                                                    <a asp-controller="Files" asp-action="ById" asp-route-id="@file.Id" asp-route-lectureId="@lecture.Id">
                                                        <div class="text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-word" viewBox="0 0 16 16">
                                                                <path d="M5.485 6.879a.5.5 0 1 0-.97.242l1.5 6a.5.5 0 0 0 .967.01L8 9.402l1.018 3.73a.5.5 0 0 0 .967-.01l1.5-6a.5.5 0 0 0-.97-.242l-1.036 4.144-.997-3.655a.5.5 0 0 0-.964 0l-.997 3.655L5.485 6.88z" />
                                                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                                            </svg>
                                                            Document - @file.CreatedOn.ToString("dd MMMM yyyy") - @(file.UserFirstName + ' ' + file.UserLastName)
                                                            @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                                                            {
                                                                <form method="post" asp-controller="Files" asp-action="Delete" asp-route-id="@file.Id">
                                                                    <input type="submit" class="btn btn-danger" value="Delete" />
                                                                </form>
                                                            }
                                                        </div>
                                                    </a>
                                                }

                                                @foreach (var exam in lecture.Exams)
                                                {
                                                    <a asp-controller="Exams" asp-action="TakeExam" asp-route-id="@exam.Id">
                                                        <div class="text-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z" />
                                                            </svg>
                                                            Quiz - @exam.CreatedOn.ToString("dd MMMM yyyy") - @(exam.CreatorFirstName + ' ' + exam.CreatorLastName)
                                                            @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                                                            {
                                                                <form method="post" asp-controller="Exams" asp-action="Delete" asp-route-id="@exam.Id">
                                                                    <input type="submit" class="btn btn-danger" value="Delete" />
                                                                </form>
                                                            }
                                                        </div>
                                                    </a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        lectureIndex++;
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @if (this.User.IsInRole(GlobalConstants.StudentRoleName))
            {
                <div class="accordion p-3 mb-5 bg-white rounded" id="accordionExample" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <strong>Resources</strong>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="list-group">
                                    <li class="list-group-item bg-info">Curriculum</li>
                                    <li class="list-group-item">
                                        <a asp-controller="Posts" asp-action="All">Course Forums</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a asp-controller="Chats" asp-action="IndexChats">Messages</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a asp-controller="Exams" asp-action="MyResults">Quiz Results</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
            {
                <div class="accordion p-3 mb-5 bg-white rounded" id="accordionExample" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <strong>Resources</strong>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a asp-controller="Dashboard" asp-action="LecturerDashboard">Dashboard</a>
                                    </li>
                                    <li href="#" class="list-group-item bg-info">
                                        My Courses
                                    </li>
                                    <li class="list-group-item">
                                        <a asp-controller="Users" asp-action="ManageAccountById">Profile</a>
                                    </li>
                                    <li class="list-group-item">
                                        <a asp-controller="Chats" asp-action="IndexChats">Messages</a>
                                    </li>
                                    <li href="#" class="list-group-item">
                                        <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="accordion p-3 mb-5 bg-white rounded" id="accordionExample2" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                            <strong>Lecturer</strong>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                        <div class="accordion-body bg-white">
                            @foreach (var lecturer in this.Model.Lecturers)
                            {
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="@lecturer.LecturerUserProfileImageUrl" alt="userProfileImage" width="60" height="60" style="border-radius: 50%;" />
                                    </div>
                                    <div class="col-md-9">
                                        <h4>@(lecturer.LecturerUserFirstName + ' ' + lecturer.LecturerUserLastName)</h4>
                                        <p style="color: orange;">Biography</p>
                                    </div>
                                </div>
                                <p>@string.Join("", lecturer.LecturerUserBackground.Take(200).ToList())</p>
                                <div class="text-center">
                                    <button style="border-radius: 50%;" class="btn btn-info p-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_@lecturerIndex" aria-expanded="false" aria-controls="collapseExample">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="collapse" id="collapseExample_@lecturerIndex">
                                    <div>
                                        <p>@string.Join("", lecturer.LecturerUserBackground.Skip(200).ToList())</p>
                                    </div>
                                </div>
                                lecturerIndex++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script type="text/javascript">
            window.addEventListener("click", function (e) {
                if (e.target.classList.contains("bg-red")) {
                    e.target.classList.remove("bg-red");
                    e.target.classList.add("bg-yellow");

                    const buttons = this.document.querySelectorAll("button.acc-button");

                    buttons.forEach((button) => {
                        if (button != e.target) {
                            button.classList.remove("bg-yellow");
                            button.classList.add("bg-red");
                        }
                    });
                }
                else if (e.target.classList.contains("bg-yellow")) {
                    e.target.classList.remove("bg-yellow");
                    e.target.classList.add("bg-red");

                    const buttons = this.document.querySelectorAll("button.acc-button");

                    buttons.forEach((button) => {
                        if (button != e.target) {
                            button.classList.remove("bg-yellow");
                            button.classList.add("bg-red");
                        }
                    });
                }
            });
        </script>
    }
</body>

