@using OnlineCourseManagementSystem.Common
@using Microsoft.AspNetCore.Identity
@using OnlineCourseManagementSystem.Data.Models
@using OnlineCourseManagementSystem.Web.ViewModels.Users
@inject UserManager<ApplicationUser> userManager
@inject OnlineCourseManagementSystem.Services.Data.IUsersService usersService
@inject OnlineCourseManagementSystem.Services.Data.IChatbotMessagesService chatbotMessagesService
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="shortcut icon" href="~/icons/Лого.png" type="image/x-icon">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-form-resource/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-form-resource/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-form-resource/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-form-resource/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-form-resource/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login-form-resource/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/login-form-resource/css/main.css">
    <!--===============================================================================================-->
    <!--VideoChat links-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/darkly/bootstrap.min.css" />
    
    <!--Sidebar-->
    @*<link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />*@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
</head>

<body>
    <header style="background-color: white !important;">

        <nav class="navbar navbar-expand-sm navbar-light bg-white text-white text-center border-bottom box-shadow" style="background-color: #e3f2fd !important;">
            <div class="row">
                <div class="col-md-1">
                    @this.ViewBag.FullName
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-2">
                            <a class="navbar-brand" href="#">
                                <img height="70" width="70" src="/icons/Лого.png" alt="logo" />
                            </a>
                        </div>
                        <div class="col-md-10">
                            <ul style="margin-top: 20px;" class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="About">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Contact">Contact</a>
                                </li>
                                @if (this.User.IsInRole(GlobalConstants.StudentRoleName))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-controller="Dashboard" asp-action="StudentDashboard">Dashboard</a>
                                    </li>
                                }
                                else if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-controller="Dashboard" asp-action="LecturerDashboard">Dashboard</a>
                                    </li>
                                }
                                else if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-controller="Dashboard" asp-action="AdminDashboard">Dashboard</a>
                                    </li>
                                }
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-controller="Users" asp-action="AllTeachers">Lecturers</a>
                                    </li>
                                }
                                <li class="nav-item dropdown">
                                    <a class="nav-link active dropdown-toggle" aria-current="page" href="#" id="dashboardDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Others</a>
                                    <ul class="dropdown-menu" aria-labelledby="dashboardDropdown">
                                        @if (this.User.IsInRole(GlobalConstants.StudentRoleName))
                                        {
                                            <li>
                                                <a class="dropdown-item" asp-controller="Assignments" asp-action="All">My assignments</a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                        }
                                        <li>
                                            <a class="dropdown-item" asp-controller="Albums" asp-action="All">Albums</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Events" asp-action="All">Events</a>
                                        </li>
                                        <li>
                                            <hr class=" dropdown-divider" />
                                        </li>
                                        @if (this.User.IsInRole(GlobalConstants.LecturerRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                        {
                                            <li>
                                                <a class="dropdown-item" asp-controller="Events" asp-action="AllCreated">
                                                    My Created Events
                                                </a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>

                                        }
                                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                        {
                                            <li>
                                                <a class="dropdown-item" asp-controller="Assignments" asp-action="AllCreatedByLecturer">
                                                    My Created Assignments
                                                </a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                        }

                                        <li>
                                            <a class="dropdown-item" asp-controller="Trainings" asp-action="All">Road Map</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link active dropdown-toggle" href="#" id="coursesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Courses
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="coursesDropdown">
                                        <li><a class="dropdown-item" asp-controller="Courses" asp-action="AllUpcomingAndActive">Upcoming and Active</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        @if (this.User.IsInRole(GlobalConstants.StudentRoleName))
                                        {
                                            <li><a class="dropdown-item" asp-controller="Courses" asp-action="AllByCurrentUser">My Courses</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-controller="Orders" asp-action="AllByUserId">My Cart</a></li>
                                        }

                                        @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                                        {
                                            <li><a class="dropdown-item" asp-controller="Courses" asp-action="AllByCurrentUser">My Courses</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-controller="Courses" asp-action="Create">Create Course</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-controller="Courses" asp-action="Meta">Add Meta</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link active dropdown-toggle" href="#" id="contestsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Contests
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="contestsDropdown">
                                        @if (this.User.IsInRole(GlobalConstants.StudentRoleName))
                                        {
                                            <li><a class="dropdown-item" asp-controller="Contests" asp-action="Index">Index</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-controller="Contests" asp-action="All">All contests</a></li>
                                        }

                                        @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                                        {
                                            <li><a class="dropdown-item" asp-controller="Contests" asp-action="Index">Index</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-controller="Contests" asp-action="All">All contests</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-controller="Contests" asp-action="Create">Add contest</a></li>
                                        }
                                    </ul>
                                </li>
                                @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-controller="Lectures" asp-action="AllLecturesByCreatorId">Lectures</a>
                                    </li>
                                }
                                @if (this.User.IsInRole(GlobalConstants.LecturerRoleName) || this.User.IsInRole(GlobalConstants.StudentRoleName))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link active dropdown-toggle" href="#" id="examsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Exams
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="examsDropdown">
                                            @if (this.User.IsInRole(GlobalConstants.StudentRoleName))
                                            {
                                                <li><a class="dropdown-item" asp-controller="Exams" asp-action="AllByUser">My Exams</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" asp-controller="Exams" asp-action="MyResults">My Results</a></li>
                                            }

                                            @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                                            {
                                                <li><a class="dropdown-item" asp-controller="Exams" asp-action="All">All Exams</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                <li class="nav-item dropdown">
                                    <a class="nav-link active dropdown-toggle" href="#" id="communicationToolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Communication Tools
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="communicationToolsDropdown">
                                        <li>
                                            <a class="dropdown-item" aria-current="page" asp-controller="Chats" asp-action="IndexChats">Messages</a>
                                        </li>
                                        <li>
                                            <hr class=" dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="VideoChats" asp-action="IndexVideoChat">Video Conference</a>
                                        </li>
                                        <li>
                                            <hr class=" dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" aria-current="page" asp-controller="Posts" asp-action="All">Forum</a>
                                        </li>
                                    </ul>
                                </li>
                                @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                                {
                                    string userId = this.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;

                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-controller="Channels" asp-action="AllByCreator" asp-route-id="@userId">Q&A</a>
                                    </li>
                                }
                                else if (this.User.IsInRole(GlobalConstants.StudentRoleName))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-controller="Channels" asp-action="AllByParticipant">Q&A</a>
                                    </li>
                                }
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item dropdown d-flex">
                                        @{
                                            ApplicationUser user = await this.userManager.GetUserAsync(this.User);
                                        }

                                        @if (string.IsNullOrEmpty(user.ProfileImageUrl))
                                        {
                                            <span class="rounded-circle d-flex justify-content-center align-items-center bg-secondary" style="width:50px; height:50px">
                                                <span class="text-white bold">@(user.FirstName.Substring(0,1).ToUpper()+user.LastName.Substring(0,1).ToUpper())</span>
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                <img class="rounded-circle" width="50" height="50" src="@user.ProfileImageUrl" alt="User ProfileImage" />
                                            </span>
                                        }
                                        <a class="nav-link active dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Profile
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                            <li>
                                                <a asp-controller="Users" asp-action="ManageAccountById" class="dropdown-item" aria-current="page">My Profile</a>
                                            </li>
                                            @if (this.User.IsInRole(GlobalConstants.StudentRoleName))
                                            {
                                                <li class="dropdown-divider"></li>
                                                <li>
                                                    <a asp-controller="Users" asp-action="CoursesInfo" class="dropdown-item" aria-current="page">Your Courses</a>
                                                </li>
                                            }

                                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                            {
                                                <li>
                                                    <hr class="dropdown-divider" />
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-controller="ContactMessages" asp-action="All">Contact Messages</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider" />
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-controller="Admins" asp-action="AdminActions">Admin Actions</a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider" />
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-controller="Modules" asp-action="Create">Create Modules</a>
                                                </li>
                                                @*<li>
                                                        <a class="dropdown-item" asp-controller="Mails" asp-action="SendMail">Send Mail</a>
                                                    </li>
                                                    <li>
                                                        <hr class="dropdown-divider" />
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-controller="Mails" asp-action="SendWelcomeMail">Send Welcome Mail</a>
                                                    </li>*@
                                            }
                                            <li class="dropdown-divider"></li>
                                            <li>
                                                <form class="form-inline hide-submit " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                                                    <label class="d-flex justify-content-start dropdown-item">
                                                        <input type="submit" />
                                                        <span style="font-weight:normal;" href="#">Logout</span>
                                                    </label>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Do not touch!-->
                @*@if (this.User.Identity.IsAuthenticated)
                    {
                        ApplicationUser user = await this.userManager.GetUserAsync(this.User);
                        string fullName = this.usersService.GetFullNameById(user.Id);
                        string profileImageUrl = this.usersService.GetProfileImageUrlById(user.Id);

                        <div class="col-md-2">
                            <ul style="margin-top: 20px;" class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link active dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @if (profileImageUrl == null)
                                        {
                                            <img src="https://tse1.mm.bing.net/th?id=OIP.Lq4lOlvWKjVrJMnQXo1aXwHaHa&pid=Api&P=0&w=300&h=300" height="30" width="30" alt="default-profile-image" />
                                        }
                                        else
                                        {
                                            <img src="@profileImageUrl" height="30" width="30" alt="profile-image" />
                                        }
                                        @(fullName)
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                        @if (this.User.IsInRole(GlobalConstants.StudentRoleName))
                                        {
                                            <li><a class="dropdown-item" asp-controller="Exams" asp-action="AllByUser">My Exams</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-controller="Exams" asp-action="MyResults">My Results</a></li>
                                        }

                                        @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                                        {
                                            <li><a class="dropdown-item" asp-controller="Exams" asp-action="All">All Exams</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                            <partial name="_LoginPartial" />
                        </div>
                    }*@
            </div>


        </nav>


        @*<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/counter">Counter</a>
                            </li>
                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Users" asp-action="All">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Students" asp-action="All">Students</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Parents" asp-action="All">Parents</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Lecturers" asp-action="All">Lecturers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="AllUnapproved">Unapproved Courses</a>
                                </li>
                            }
                            @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Create">Create a Course</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="IndexLecturers">Q&A</a>
                                </li>
                            }
                            @if (this.User.IsInRole(GlobalConstants.ParentRoleName))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Absences" asp-action="AllByStudentInInterval">View Attendance</a>
                                </li>
                            }
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="AllByCurrentUser">Your Courses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="All">All Courses</a>
                                </li>
                                @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Exams" asp-action="All">Exams</a>
                                    </li>
                                }
                                else if (this.User.IsInRole(GlobalConstants.StudentRoleName))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Exams" asp-action="AllByUser">Exams</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Exams" asp-action="MyResults">My results</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="AllUpcoming">All Upcoming Courses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="AllPast">All Past Courses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="AllActive">All Active Courses</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>*@
    </header>
    @if ((string)this.ViewData["Title"] == "Forum" || (string)this.ViewData["Title"] == "Post")
    {
        <div class="d-flex align-items-center py-4" style="color:white;background:#9575cd;">
            <svg style="background:#673ab7;" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-life-preserver ml-5 mr-3 p-2" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm6.43-5.228a7.025 7.025 0 0 1-3.658 3.658l-1.115-2.788a4.015 4.015 0 0 0 1.985-1.985l2.788 1.115zM5.228 14.43a7.025 7.025 0 0 1-3.658-3.658l2.788-1.115a4.015 4.015 0 0 0 1.985 1.985L5.228 14.43zm9.202-9.202-2.788 1.115a4.015 4.015 0 0 0-1.985-1.985l1.115-2.788a7.025 7.025 0 0 1 3.658 3.658zm-8.087-.87a4.015 4.015 0 0 0-1.985 1.985L1.57 5.228A7.025 7.025 0 0 1 5.228 1.57l1.115 2.788zM8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
            </svg>
            <div>
                <h2>Forum</h2>
                <h6>Ask our awesome community</h6>
            </div>
        </div>
    }

    @if ((string)this.ViewData["CurrentUserHeading"] == "Messages")
    {
        ApplicationUser user = await this.userManager.GetUserAsync(this.User);
        <div class="d-flex justify-content-center align-items-center text-white p-3" style="background:#42a5f5;">

            <div class="ml-5 d-flex flex-grow-1">
                @if (string.IsNullOrEmpty(user.ProfileImageUrl))
                {
                    <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary" style="width:100px; height:100px;">
                        <h3 class="text-center">@(user.FirstName.Substring(0,1)+user.LastName.Substring(0,1)) </h3>
                    </div>
                }
                else
                {
                    <img class="rounded-circle" src="@user.ProfileImageUrl" width="100" height="100" alt="Profile Image" />
                }
                <div class="ml-2">
                    <h3 style="color:white !important;">@user.FirstName @user.LastName</h3>
                    <a asp-controller="Users" asp-action="ManageAccountById" class="text-decoration-underline text-white">View public profile</a>
                </div>
            </div>
            <div class="mr-5 p-1 rounded" style="background:#2196f3; font-size: 12px;">
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <span>Admin</span>
                }

                @if (this.User.IsInRole(GlobalConstants.LecturerRoleName))
                {
                    <span>Lecturer</span>
                }

                @if (this.User.IsInRole(GlobalConstants.ParentRoleName))
                {
                    <span>Parent</span>
                }

                @if (this.User.IsInRole(GlobalConstants.StudentRoleName))
                {
                    <span>Student</span>
                }
            </div>
        </div>
    }
    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            <breadcrumb></breadcrumb>
            @this.RenderBody()
        </main>
    </div>

    @if (this.User.Identity.IsAuthenticated)
    {
        ApplicationUser user = await this.userManager.GetUserAsync(this.User);
        var viewModel = new OnlineCourseManagementSystem.Web.ViewModels.ChatbotMessages.AllChatbotMessagesByCreatorIdListViewModel
        {
            Messages = this.chatbotMessagesService.GetAllByCreatorId<OnlineCourseManagementSystem.Web.ViewModels.ChatbotMessages.AllChatbotMessagesByCreatorIdViewModel>(user.Id),
        };
        <partial name="_ChatbotMessagePartial" model="viewModel" />
    }
    <footer class="footer bg-dark border-top text-muted position-relative">
        <div class="container">
            <div class="row">
                <div class=" col-sm-6 col-md-3 mt-3">
                    <h5 style="color:#536161;">Corporate</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a style="color:#215ed3 !important;" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li>
                            <a style="color:#215ed3 !important;" asp-controller="Users" asp-action="AllTeachers">Lecturers</a>
                        </li>
                        <li>
                            <a style="color:#215ed3 !important;" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            <a style="color:#215ed3 !important;" asp-controller="Home" asp-action="Contact">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 mt-3">
                    <h5 style="color:#536161;">Explore</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a style="color:#215ed3 !important;" asp-controller="Courses" asp-action="AllByCurrentUser">Courses</a>
                        </li>
                        <li>
                            <a style="color:#215ed3 !important;" asp-controller="Posts" asp-action="All">Forum</a>
                        </li>
                        <li>
                            <a style="color:#215ed3 !important;" asp-controller="Chats" asp-action="IndexChats">Messages</a>
                        </li>
                        @if (!this.User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a style="color:#215ed3 !important;" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a style="color:#215ed3 !important;" asp-controller="Users" asp-action="ManageAccountById">Profile</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 mt-3">
                    @{
                        var inputModel = new OnlineCourseManagementSystem.Web.ViewModels.Subscribers.CreateSubscriberInputModel();
                    }
                    <partial name="_NewsletterPartial" model="inputModel" />
                    <p class="mt-5">
                        <a href="https://www.facebook.com/OMCS-100542409121328" class="mr-3 ">
                            <i class="fa fa-facebook px-2 rounded-circle btn-link"></i>
                        </a>
                        <a href="https://www.instagram.com/omcs_2021/" class="mr-3 ">
                            <i class="fa fa-instagram btn-link"></i>
                        </a>
                        <a href="https://twitter.com/" class="mr-3">
                            <i class="fa fa-twitter btn-link"></i>
                        </a>
                        <a href="https://github.com/stefkonoisyboy/OnlineCourseManagementSystem">
                            <i class="fa fa-github rounded-circle btn-link"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div id="google_translate_element" class="my-1"></div>
        </div>
    </footer>

    @await this.RenderSectionAsync("Scripts", required: false)
    <!--VideoChat scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="//media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!--End-->

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>

    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script>
        dragElement(document.getElementById("mydiv"));

        function dragElement(elmnt) {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            if (document.getElementById(elmnt.id + "header")) {
                document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
            }
            else {

                elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();

                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;

                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();

                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;

                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            }

            function closeDragElement() {

                document.onmouseup = null;
                document.onmousemove = null;
            }
        }
    </script>

    <!--===============================================================================================-->
    @*<script src="~/login-form-resource/vendor/jquery/jquery-3.2.1.min.js"></script>*@
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="~/login-form-resource/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login-form-resource/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'ru'
            }, 'google_translate_element');
        }
    </script>
    <!--===============================================================================================-->
    <script src="~/login-form-resource/js/main.js"></script>

    <!--Chatbot-->
    @*<script src="//code.tidio.co/lwibzhmtpva9ljavaxly88sz2wp1zzck.js" async></script>*@

</body>
</html>

<base href="~/" />
<script src="_framework/blazor.server.js"></script>


