@using OnlineCourseManagementSystem.Web.ViewModels.Events
@model AllEventsViewModel
@{
    this.ViewData["Title"] = "Events";
}

<h3 class="mt-5">Events Coming</h3>
@if (!this.Model.EventsComing.Any())
{
    <div class="d-flex justify-content-center align-items-center" style="height:50vh; color:gray">
        <h1>No Upcoming Events</h1>
    </div>
}


<div class="d-none d-md-block">
    <div class="row mx-3">
        @foreach (var eventComing in this.Model.EventsComing)
        {
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="my-1">
                            <h3>
                                <a class="text" style="color: #2196f3; width: inherit; overflow: hidden; text-overflow: ellipsis;" asp-controller="Events" asp-action="EventInfo" asp-route-id="@eventComing.Id">
                                    @eventComing.Theme
                                </a>
                            </h3>
                        </div>
                        <div class="d-flex align-items-center my-1">
                            @if (!string.IsNullOrEmpty(eventComing.AuthorProfileImageUrl))
                            {
                                <img class="rounded-circle" style="width:50px;height:50px" src="@eventComing.AuthorProfileImageUrl" />
                            }
                            else
                            {
                                <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary" style="width:50px; height:50px;">
                                    <h3 class="text-center" style="color:white !important">@(eventComing.CreatorFirstName.Substring(0,1)+ eventComing.CreatorLastName.Substring(0,1))</h3>
                                </div>
                            }
                            <div class="mx-1 text-black">@(eventComing.CreatorFirstName+" "+eventComing.CreatorLastName)</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Events" asp-action="EventInfo" asp-route-id="@eventComing.Id">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                </svg>
                                <span class="text-black-50">
                                    @eventComing.StartDate.ToString("dd MMM yyyy(ddd)")
                                </span>
                            </span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <span class="text-black-50">
                                    @eventComing.StartDate.ToString("t") - @eventComing.EndDate.ToString("t")
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
         }
    </div>
</div>

@if (this.Model.EventsComing.Any())
{
    <div class="slideshow-container d-md-none mx-3">
        @for (int i = 0; i < this.Model.EventsComing.Count(); i++)
        {
            <div class="mySlides">
                <div class="row d-flex justify-content-center">
                    @foreach (var eventComing in this.Model.EventsComing.Skip(i).Take(1))
                    {
                        <div class=" col-10 col-md-4 card mr-1">
                            <div class="card-body">
                                <div class="my-1">
                                    <h3>
                                        <a class="text" style="color: #2196f3; width: inherit; overflow: hidden; text-overflow: ellipsis;" asp-controller="Events" asp-action="EventInfo" asp-route-id="@eventComing.Id">
                                            @eventComing.Theme
                                        </a>
                                    </h3>
                                </div>
                                <div class="d-flex align-items-center my-1">
                                    @if (!string.IsNullOrEmpty(eventComing.AuthorProfileImageUrl))
                                    {
                                        <img class="rounded-circle" style="width:50px;height:50px" src="@eventComing.AuthorProfileImageUrl" />
                                    }
                                    else
                                    {
                                        <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary" style="width:50px; height:50px;">
                                            <h3 class="text-center" style="color:white !important">@(eventComing.CreatorFirstName.Substring(0,1) + eventComing.CreatorLastName.Substring(0,1))</h3>
                                        </div>
                                    }
                                    <div class="mx-1 text-black">@(eventComing.CreatorFirstName+" "+eventComing.CreatorLastName)</div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a asp-controller="Events" asp-action="EventInfo" asp-route-id="@eventComing.Id">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                        </svg>
                                        <span class="text-black-50">
                                            @eventComing.StartDate.ToString("dd MMM yyyy(ddd)")
                                        </span>
                                    </span>
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                        <span class="text-black-50">
                                            @eventComing.StartDate.ToString("t") - @eventComing.EndDate.ToString("t")
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                            </svg>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
}


<h3 class="mt-5">Events Finished</h3>

@if (!this.Model.EventsFinished.Any())
{
    <div class="d-flex justify-content-center align-items-center" style="height:50vh; background:#f8f9fa; color:gray">
        <h1>No Finished Events</h1>
    </div>
}

<div class="row mx-3">
    @foreach (var eventFinished in this.Model.EventsFinished)
    {
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="my-1">
                        <h3>
                            <a lass="text" style="color: #2196f3; width: inherit; overflow: hidden; text-overflow: ellipsis;" asp-controller="Events" asp-action="EventInfo" asp-route-id="@eventFinished.Id">
                                @eventFinished.Theme
                            </a>
                        </h3>
                    </div>
                    <div class="d-flex align-items-center my-1">
                        @if (!string.IsNullOrEmpty(eventFinished.AuthorProfileImageUrl))
                        {
                            <img class="rounded-circle" style="width:50px;height:50px" src="@eventFinished.AuthorProfileImageUrl" />
                        }
                        else
                        {
                            <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary" style="width:50px; height:50px;">
                                <h3 class="text-center" style="color:white !important">@(eventFinished.CreatorFirstName.Substring(0,1)+ eventFinished.CreatorLastName.Substring(0,1))</h3>
                            </div>
                        }
                        <div class="mx-1 text-black">@eventFinished.CreatorFirstName @eventFinished.CreatorLastName</div>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-controller="Events" asp-action="EventInfo" asp-route-id="@eventFinished.Id">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                            </svg>
                            <span class="text-black-50">
                                @eventFinished.StartDate.ToString("dd MMM yyyy(ddd)")
                            </span>
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <span class="text-black-50">
                                @eventFinished.StartDate.ToString("t") - @eventFinished.EndDate.ToString("t")
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<div class="d-flex justify-content-center mt-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (this.Model.PageNumber > 1)
            {
                <li class="page-item">
                    <a asp-controller="Events" asp-action="All" asp-route-pageNumber="@this.Model.PreviousPage" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @{
                const int MorePagesToShow = 3;
                var pagesToShow = new List<int>();
                for (var i = 1; i <= MorePagesToShow; i++)
                {
                    pagesToShow.Add(i);
                }
                for (var i = this.Model.PageNumber - MorePagesToShow; i <= this.Model.PageNumber + MorePagesToShow; i++)
                {
                    if (i > 0)
                    {
                        pagesToShow.Add(i);
                    }
                }
                for (var i = this.Model.PagesCount - MorePagesToShow + 1; i <= this.Model.PagesCount; i++)
                {
                    if (i > 0)
                    {
                        pagesToShow.Add(i);
                    }
                }
                pagesToShow = pagesToShow.Where(x => x <= this.Model.PagesCount).Distinct().OrderBy(x => x).ToList();
            }
            @{
                @for (var i = 0; i < pagesToShow.Count; i++)
                {
                    var className = string.Empty;
                    var pageNumber = pagesToShow[i];
                    if (pageNumber == this.Model.PageNumber)
                    {
                        className = "active";
                    }
                    if (i > 0 && pageNumber - 1 != pagesToShow[i - 1])
                    {
                        <li class="page-item @className"><a class="page-link" asp-controller="Events" asp-action="All" asp-route-pageNumber="@(pagesToShow[i - 1] + 1)">...</a></li>
                    }
                    <li class="page-item @className"><a class="page-link" asp-controller="Events" asp-action="All" asp-route-pageNumber="@pageNumber">@pageNumber</a></li>
                }
            }
            @if (this.Model.PageNumber < this.Model.PagesCount)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Events" asp-action="All" asp-route-pageNumber="@this.Model.NextPage" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>

<script>
    var slideIndex = 1;

    window.onload = function () {
        showSlides(slideIndex);
    }

    showSlides(slideIndex);


    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        
        slides[slideIndex - 1].style.display = "block";
    }
</script>