@using OnlineCourseManagementSystem.Web.ViewModels.Events
@model AllEventsCreatedViewModel

<h1 class="title">Created Events</h1>

@if (this.TempData.ContainsKey("CreatedEvent"))
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @this.TempData["CreatedEvent"]
    </div>
}

<pre class="tab"></pre>
<pre class="tab"></pre>
<a asp-controller="Events" asp-action="Create" class="btn btn-success">
    Create Event
</a>

<pre class="tab"></pre>
<pre class="tab"></pre>

<div class="row">
    @foreach (var eventCreated in this.Model.Events)
    {
        <div class="col-xs-12 col-sm-6 col-lg-4 flex-column rounded" style="background: #ffffff; margin: 0.5rem; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">

            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <div class="m-1">
                            <form asp-controller="Events" asp-action="Disapprove" asp-route-id="@eventCreated.Id" method="post">
                                <button class="btn-danger form-control">
                                    Disapprove
                                </button>
                            </form>
                        </div>
                        <div class="m-1">
                            <form asp-controller="Events" asp-action="Approve" asp-route-id="@eventCreated.Id" method="post">
                                <button class="btn-success form-control">
                                    Approve
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
            <div>
                <h3>
                    <a class="text" style="color:#ff6a00" asp-controller="Events" asp-action="EventInfo" asp-route-id="@eventCreated.Id">
                        @eventCreated.Theme
                    </a>
                </h3>
            </div>
            <div>
                <span>
                    <img class="rounded-circle" style="width:50px;height:50px" src="https://softuni.bg/Files/Seminars/VladimirTasev.jpg" />
                </span>
                <span class="text-black">@eventCreated.AuthorName</span>

                @if (eventCreated.IsApproved)
                {
                    <div class="bg-success">
                        Approved
                    </div>
                }
                else
                {
                    <div class="bg-danger">
                        Disapproved
                    </div>
                }
            </div>
            <div class="card-footer">
                <a asp-controller="Events" asp-action="EventInfo" asp-route-id="@eventCreated.Id">
                    <span>
                        <img src="/icons/calendar.png" style="height:20px;width:20px" alt="Alternate Text" />
                        <span class="text-black-50">
                            @eventCreated.StartDate.ToString("dd MMM yyyy(ddd)")
                        </span>
                    </span>

                    <span>
                        <img class="rounded-circle" style="height:20px;width:20px" src="/icons/alarm.png" />
                        <span class="text-black-50">
                            @eventCreated.StartDate.ToString("t") - @eventCreated.EndDate.ToString("t")
                            <img src="/icons/circle_play.png" style="height:20px;width:20px" alt="Alternate Text" />
                        </span>
                    </span>
                </a>
            </div>
        </div>
    }
</div>

